export(write_config)
export(file_lookup)
export(check_files)
export(process_data)
export(review_data)
export(excel)
export(db)
export(init)
export(reduce)
importFrom("graphics", "abline", "axis", "lines", "mtext", "par",
               "points")
importFrom("stats", "aggregate", "complete.cases", "lm", "optim",
               "predict", "rnorm", "sd", "smooth.spline", "var")
importFrom("utils", "read.csv", "tail", "browseURL", "hasName")
importFrom(rmarkdown, render)
importFrom(RODBC, odbcConnect, sqlQuery)
importFrom(openxlsx, createWorkbook, addWorksheet, writeData, saveWorkbook)